@font-face 
{
   font-family: 'SegoeUI';
   src: url('../Styles/Fonts/SegoeUI.eot');
   src: url('../Styles/Fonts/SegoeUI.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face 
{
  font-family: 'SegoeUI';
  src: url('../Styles/Fonts/SegoeUI.woff') format('woff'),
       url('../Styles/Fonts/SegoeUI.ttf') format('truetype'),
       url('../Styles/Fonts/SegoeUI.svg#DastNevis') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
   font-family: 'SegoeUI-Light';
   src: url('../Styles/Fonts/SegoeUI-Light.eot');
   src: url('../Styles/Fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face 
{
  font-family: 'SegoeUI-Light';
  src: url('../Styles/Fonts/SegoeUI-Light.woff') format('woff'),
       url('../Styles/Fonts/SegoeUI-Light.ttf') format('truetype'),
       url('../Styles/Fonts/SegoeUI-Light.svg#DastNevis') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
   font-family: 'SegoeUI-Bold';
   src: url('../Styles/Fonts/SegoeUI-Bold.eot');
   src: url('../Styles/Fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face 
{
  font-family: 'SegoeUI-Bold';
  src: url('../Styles/Fonts/SegoeUI-Bold.woff') format('woff'),
       url('../Styles/Fonts/SegoeUI-Bold.ttf') format('truetype'),
       url('../Styles/Fonts/SegoeUI-Bold.svg#DastNevis') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body 
{
    padding:0;
    margin:0;
    width:100%;
    overflow-x:hidden;
}
div.Header
{
    position: relative;
    background:#f3f4ef;
    width:100%;
    height:550px;
    overflow: hidden;
}

div.HeaderRight
{
    width:679px;
    height: 550px;
    float:right;
    display: inline-block;
    background-image: url("../Images/ImgHeader.png");
    background-size: 679px 550px;
}

div.InvisibleManName
{
    position:absolute;
    width:auto;
    height: 550px;
    left:100px;
    top:100px;
    font-family: 'SegoeUI';
    font-size:50pt;
    font-weight:normal;
}

div.InvisibleManDescription
{
    position:absolute;
    width:auto;
    height: 550px;
    left:100px;
    top:200px;
    font-family: 'SegoeUI-Light';
    font-size:30pt;
    font-weight:lighter;
}

div.Ads
{
    position: absolute;
    top: 305px; 
    left:100px
}

div.InvisibleManUpdateTime
{
    position:absolute;
    width:auto;
    height: 550px;
    left:100px;
    top:440px;
    font-family: 'SegoeUI';
    font-size:17pt;
    font-weight:normal;
}

a.Button64
{
    position:absolute;
    width:225px;
    height: 60px;
    left:100px;
    top:380px;
    background-color:#d95f5f;
    color: white;
    text-align:center;
    line-height:3;
    font-family: 'SegoeUI-Light';
    font-size:15pt;
    font-weight:lighter;
    text-decoration:none;
}

a.Button64:hover
{
    background-color:#ec6868;
}

a.Button64:active
{
    background-color:#cb5858;
}

a.Button32
{
    position:absolute;
    width:225px;
    height: 60px;
    left:343px;
    top:380px;
    background-color:#d95f5f;
    color: white;
    text-align:center;
    line-height:3;
    font-family: 'SegoeUI-Light';
    font-size:15pt;
    font-weight:lighter;
    text-decoration:none;
}

a.Button32:hover
{
    background-color:#ec6868;
}

a.Button32:active
{
    background-color:#cb5858;
}

@media screen and (max-width: 1220px)
{
    div.HeaderRight
    {
        width:679px;
        height: 550px;
        position:absolute;
        top:0px;
        left: 525px;
        
        background-image: url("../Images/ImgHeader.png");
        background-size: 679px 550px;
    }
}

@media screen and (max-width: 700px)
{
    div.HeaderRight
    {
        width:679px;
        height: 550px;
        position:absolute;
        top:0px;
        left: 0px;
        
        background-image: none;
        background-size: 679px 550px;
    }
}

@media screen and (max-width: 600px)
{
    div.InvisibleManName
    {
        position:absolute;
        width:auto;
        height: 550px;
        left:50px;
        top:120px;
        font-family: 'SegoeUI';
        font-size:25pt;
        font-weight:normal;
    }

    div.InvisibleManDescription
    {
        position:absolute;
        width:auto;
        height: 550px;
        left:50px;
        top:180px;
        font-family: 'SegoeUI-Light';
        font-size:20pt;
        font-weight:lighter;
    }
    
    div.Ads
    {
        visibility: hidden;
    }

    div.InvisibleManUpdateTime
    {
        position:absolute;
        width:auto;
        height: 550px;
        left:50px;
        top:440px;
        font-family: 'SegoeUI';
        font-size:15pt;
        font-weight:normal;
    }

    a.Button64
    {
        position:absolute;
        width:210px;
        height: 60px;
        left:50px;
        top:300px;
        background-color:#d95f5f;
        color: white;
        text-align:center;
        line-height:3;
        font-family: 'SegoeUI-Light';
        font-size:15pt;
        font-weight:lighter;
        text-decoration:none;
    }

    a.Button32
    {
        position:absolute;
        width:210px;
        height: 60px;
        left:50px;
        top:380px;
        background-color:#d95f5f;
        color: white;
        text-align:center;
        line-height:3;
        font-family: 'SegoeUI-Light';
        font-size:15pt;
        font-weight:lighter;
        text-decoration:none;
    }
}

div.MenuBar
{
    top: 0px;
    right: 0px;
    width: 100%;
    height: 45px;
    direction:rtl;
    display: inline-block;
    padding-right:20px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

p.MenuBarText
{
    text-align:left;
    color:#d95f5f;
    margin:0 auto;
    padding: 0px 0px 0px 35px;
    font-family: 'SegoeUI-Bold';
    font-size:13pt;
    font-weight:bold;
    line-height:2.5;
}

div.BenefitsHeader
{
    display:block;
    width:100%;
    text-align:center;
    font-family: 'SegoeUI';
    font-size:25pt;
    font-weight:normal;
}

div.BenefitsDiv
{
    display:block;
    text-align: center;
}

div.Benefit
{
    display:inline-block;
    vertical-align:top;
    width:350px;
    font-family: 'SegoeUI';
    font-size:25pt;
    font-weight:normal;
}

p.BenefitHeader
{
    text-align:center;
    font-family: 'SegoeUI-Bold';
    font-size:17pt;
    font-weight:bold;
    line-height:2;
    margin-top:5px;
}

p.BenefitContent
{
    width:250px;
    text-align:center;
    margin:0 auto;
    font-family: 'SegoeUI';
    font-size:14pt;
    font-weight:normal;
    line-height:1.5;
    margin-top:5px;
}

div.Footer
{
    width:100%;
    height:60px;
    margin-top:20px;
    background-color:#f3f4ef;
}

p.FooterText
{
    text-align:center;
    margin:0 auto;
    font-family: 'SegoeUI';
    font-size:13pt;
    font-weight:normal;
    line-height:3.5;
}

div.ButtonFloat
{
    bottom: 0px;
    right: 0px;
    padding: 0px 20px 20px 0px;
    position: fixed;
}

a.ButtonFeedBack
{
    background-color: #d95f5f;
    outline: 0;
    float: right;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

a.ButtonFeedBack:hover
{
    background-color:#ec6868;
}

a.ButtonFeedBack:active
{
    background-color:#cb5858;
}

img.ButtonFeedBackFront
{
    margin-top: 15px;
}

a.ButtonBitcoin
{
    background-color: #d95f5f;
    outline: 0;
    margin: 10px 10px 0px 0px;
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

a.ButtonBitcoin:hover
{
    background-color:#ec6868;
}

a.ButtonBitcoin:active
{
    background-color:#cb5858;
}

img.ButtonBitcoinFront
{
    margin-top: 10px;
}

div.MessageFloat
{
    display: none;
    bottom: 100px;
    right: 20px;
    position: fixed;
    background-color: white;
    float: right;
    width: 320px;
    height: 60px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

p.MessageContent
{
    width:300px;
    text-align:left;
    margin: 9px 15px;
    font-family: 'SegoeUI';
    font-size:11pt;
    font-weight:normal;
    line-height:1.5;
}

a.ButtonClose
{
    outline: 0;
    top: 0px;
    right: 0px;
    margin: 2px;
    position: absolute;
    cursor: pointer;
}

div.MessageMenu
{
    bottom: -500px;
    right: 10px;
    position: fixed;
    background-color: white;
    float: right;
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: calc(100vh - 70px);
}

@media screen and (max-width: 400px)
{
    div.MessageMenu
    {
        bottom: -500px;
        position: fixed;
        background-color: white;
        width: 90%;
        height: 400px;
        text-align: center;
        border-radius: 7px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        overflow-y: auto;
        max-height: calc(100vh - 70px);
    }
}

div.MessageMenuRow
{
    width: 100%;
    margin: 10px 0px 0px 0px;
    color: black;
    text-align: center;
    font-family: 'SegoeUI';
    font-size:12pt;
    font-weight:normal;
}

label.MessageLabel
{
    float: left;
    margin: 0px 0px 7px 25px;
}

input.MessageTextBox
{
    width: 75%;
    outline: 0;
    color: black;
    border-radius: 4px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    text-align:left;
    font-family: 'SegoeUI-Light';
    font-size:12pt;
    font-weight:lighter;
    text-decoration:none;
}

input.MessageTextBox:focus
{
    outline: none !important;
    border:1px solid #d95f5f;
}

textarea.MessageTextArea
{
    width: 75%;
    height: 120px;
    outline: 0;
    color: black;
    border-radius: 4px;
    border: 1px solid red;
    padding: 5px 15px;
    border: 1px solid #ccc;
    text-align:left;
    font-family: 'SegoeUI-Light';
    font-size:12pt;
    font-weight:lighter;
    text-decoration:none;
    resize: none;
}

textarea.MessageTextArea:focus
{
    outline: none !important;
    border:1px solid #d95f5f;
}

input.ButtonSubmit
{
    width: 150px;
    height: 40px;
    background-color:#d95f5f;
    color: white;
    text-align:center;
    line-height:1.5;
    font-family: 'SegoeUI-Light';
    font-size:12pt;
    font-weight:lighter;
    text-decoration:none;
    outline: 0;
    border: none;
    cursor: pointer;
}

input.ButtonSubmit:hover
{
    background-color:#ec6868;
}

input.ButtonSubmit:active
{
    background-color:#cb5858;
}