@font-face 
{
   font-family: 'SegoeUI';
   src: url('../Styles/Fonts/SegoeUI.eot');
   src: url('../Styles/Fonts/SegoeUI.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face 
{
  font-family: 'SegoeUI';
  src: url('../Styles/Fonts/SegoeUI.woff') format('woff'),
       url('../Styles/Fonts/SegoeUI.ttf') format('truetype'),
       url('../Styles/Fonts/SegoeUI.svg#DastNevis') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
   font-family: 'SegoeUI-Light';
   src: url('../Styles/Fonts/SegoeUI-Light.eot');
   src: url('../Styles/Fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face 
{
  font-family: 'SegoeUI-Light';
  src: url('../Styles/Fonts/SegoeUI-Light.woff') format('woff'),
       url('../Styles/Fonts/SegoeUI-Light.ttf') format('truetype'),
       url('../Styles/Fonts/SegoeUI-Light.svg#DastNevis') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
   font-family: 'SegoeUI-Bold';
   src: url('../Styles/Fonts/SegoeUI-Bold.eot');
   src: url('../Styles/Fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face 
{
  font-family: 'SegoeUI-Bold';
  src: url('../Styles/Fonts/SegoeUI-Bold.woff') format('woff'),
       url('../Styles/Fonts/SegoeUI-Bold.ttf') format('truetype'),
       url('../Styles/Fonts/SegoeUI-Bold.svg#DastNevis') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body 
{
    padding:0;
    margin:0;
    width:100%;
    overflow-x:hidden;
}
div.Header
{
    position: relative;
    background:#f3f4ef;
    width:100%;
    height:550px;
    overflow: hidden;
}

div.HeaderRight
{
    width:679px;
    height: 550px;
    float:right;
    display: inline-block;
    background-image: url("../Images/ImgHeader.png");
    background-size: 679px 550px;
}

div.InvisibleManName
{
    position:absolute;
    width:auto;
    height: 550px;
    left:100px;
    top:120px;
    font-family: 'SegoeUI';
    font-size:50pt;
    font-weight:normal;
}

div.InvisibleManDescription
{
    position:absolute;
    width:auto;
    height: 550px;
    left:100px;
    top:220px;
    font-family: 'SegoeUI-Light';
    font-size:30pt;
    font-weight:lighter;
}

a.Button64
{
    position:absolute;
    width:210px;
    height: 60px;
    left:100px;
    top:370px;
    background-color:#d95f5f;
    color: white;
    text-align:center;
    line-height:3;
    font-family: 'SegoeUI-Light';
    font-size:15pt;
    font-weight:lighter;
    text-decoration:none;
}

a.Button64:hover
{
    background-color:#ec6868;
}

a.Button64:active
{
    background-color:#cb5858;
}

a.Button32
{
    position:absolute;
    width:210px;
    height: 60px;
    left:330px;
    top:370px;
    background-color:#d95f5f;
    color: white;
    text-align:center;
    line-height:3;
    font-family: 'SegoeUI-Light';
    font-size:15pt;
    font-weight:lighter;
    text-decoration:none;
}

a.Button32:hover
{
    background-color:#ec6868;
}

a.Button32:active
{
    background-color:#cb5858;
}

@media screen and (max-width: 1220px)
{
    div.HeaderRight
    {
        width:679px;
        height: 550px;
        position:absolute;
        top:0px;
        left: 525px;
        
        background-image: url("../Images/ImgHeader.png");
        background-size: 679px 550px;
    }
}

@media screen and (max-width: 700px)
{
    div.HeaderRight
    {
        width:679px;
        height: 550px;
        position:absolute;
        top:0px;
        left: 0px;
        
        background-image: none;
        background-size: 679px 550px;
    }
}

@media screen and (max-width: 600px)
{
    div.InvisibleManName
    {
        position:absolute;
        width:auto;
        height: 550px;
        left:50px;
        top:120px;
        font-family: 'SegoeUI';
        font-size:25pt;
        font-weight:normal;
    }

    div.InvisibleManDescription
    {
        position:absolute;
        width:auto;
        height: 550px;
        left:50px;
        top:180px;
        font-family: 'SegoeUI-Light';
        font-size:20pt;
        font-weight:lighter;
    }

    a.Button64
    {
        position:absolute;
        width:210px;
        height: 60px;
        left:50px;
        top:300px;
        background-color:#d95f5f;
        color: white;
        text-align:center;
        line-height:3;
        font-family: 'SegoeUI-Light';
        font-size:15pt;
        font-weight:lighter;
        text-decoration:none;
    }

    a.Button32
    {
        position:absolute;
        width:210px;
        height: 60px;
        left:50px;
        top:380px;
        background-color:#d95f5f;
        color: white;
        text-align:center;
        line-height:3;
        font-family: 'SegoeUI-Light';
        font-size:15pt;
        font-weight:lighter;
        text-decoration:none;
    }
}

div.MenuBar
{
    top: 0px;
    right: 0px;
    width: 100%;
    height: 45px;
    direction:rtl;
    display: inline-block;
    padding-right:20px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

p.MenuBarText
{
    text-align:left;
    color:#d95f5f;
    margin:0 auto;
    padding: 0px 0px 0px 35px;
    font-family: 'SegoeUI-Bold';
    font-size:13pt;
    font-weight:bold;
    line-height:2.5;
}

div.BenefitsHeader
{
    display:block;
    width:100%;
    text-align:center;
    font-family: 'SegoeUI';
    font-size:25pt;
    font-weight:normal;
}

div.BenefitsDiv
{
    display:block;
    text-align: center;
}

div.Benefit
{
    display:inline-block;
    vertical-align:top;
    width:350px;
    font-family: 'SegoeUI';
    font-size:25pt;
    font-weight:normal;
}

p.BenefitHeader
{
    text-align:center;
    font-family: 'SegoeUI-Bold';
    font-size:17pt;
    font-weight:bold;
    line-height:2;
    margin-top:5px;
}

p.BenefitContent
{
    width:250px;
    text-align:center;
    margin:0 auto;
    font-family: 'SegoeUI';
    font-size:14pt;
    font-weight:normal;
    line-height:1.5;
    margin-top:5px;
}

div.Footer
{
    width:100%;
    height:60px;
    margin-top:20px;
    background-color:#f3f4ef;
}

p.FooterText
{
    text-align:center;
    margin:0 auto;
    font-family: 'SegoeUI';
    font-size:13pt;
    font-weight:normal;
    line-height:3.5;
}